In [83]:
import numpy as np
import pandas as pd
import re
import requests

from bs4 import BeautifulSoup
from PB_funciones import nuevo_libro, titulo_rect, serie_rect, sales_rect

In [2]:
# ${{secrets.APIKEY_ISBN}} #----------> No funcionan los secretos!!!

In [ ]:
# Web scraping de la página de Wikipedia con los libros más vendidos (español)
#url = "https://es.wikipedia.org/wiki/Anexo:Libros_m%C3%A1s_vendidos"
#respuesta = requests.get(url)
#tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

#df_libros = pd.DataFrame()
#df_libros.drop(df_libros.index, inplace = True)
#for i in range(len(tablas_libros)-1):
#    if i == 0:
#        df_libros = pd.DataFrame(tablas_libros[i])
#    else:
#        df_libros = pd.concat([df_libros,pd.DataFrame(tablas_libros[i])], axis = 0)
#df_libros

In [233]:
# Web scraping de la página de Wikipedia con los libros más vendidos (inglés)
url = "https://en.wikipedia.org/wiki/List_of_best-selling_books"
respuesta = requests.get(url)
tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

In [229]:
# DATAFRAME DE APOYO-----------------------------------------------------------------------------------------------------
# Dataframe de las series más vendidas
#df_series = pd.DataFrame()
#df5 = pd.DataFrame(tablas_libros[4])
#df6 = pd.DataFrame(tablas_libros[5])
#df7 = pd.DataFrame(tablas_libros[6])
#df8 = pd.DataFrame(tablas_libros[7])
#df9 = pd.DataFrame(tablas_libros[8])
#df_series = pd.concat([df5,df6,df7,df8,df9], axis = 0)

#df_series

In [242]:
# Se resetea el valor del índice
#df_series.reset_index(inplace = True)

In [243]:
# DATAFRAME DE APOYO-----------------------------------------------------------------------------------------------
# Dataframe de los libros más vendidos
df_books = pd.DataFrame()
df1 = pd.DataFrame(tablas_libros[0])
df2 = pd.DataFrame(tablas_libros[1])
df3 = pd.DataFrame(tablas_libros[2])
df4 = pd.DataFrame(tablas_libros[3])
df_books = pd.concat([df1,df2,df3,df4], axis = 0)

df_books

,Book,Author(s),Original language,First published,Approximate sales,Genre,Approx. sales
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[21],Historical fiction,NaN
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200 million[22][23][24],"Fantasy, children's fiction",NaN
2,The Alchemist (O Alquimista),Paulo Coelho,Portuguese,1988,150 million[25][26],Fantasy,NaN
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[27][28],"Fantasy, children's fiction",NaN
4,And Then There Were None,Agatha Christie,English,1939,100 million[29],Mystery,NaN
...,...,...,...,...,...,...,...
64,Fahrenheit 451,Ray Bradbury,English,1953,NaN,NaN,10 million[188]
65,Angela's Ashes,Frank McCourt,English,1996,NaN,NaN,10 million[189]
66,The Story of My Experiments with Truth (સત્યના...,Mohandas Karamchand Gandhi,Gujarati,1925–1929,NaN,NaN,10 million[190]
67,Bridget Jones's Diary,Helen Fielding,English,1996,NaN,NaN,10 million (as of 2005)[191]
68,It Ends with Us,Colleen Hoover,English,2016,NaN,"Romance, Fiction",10 million[192]

In [244]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, 0 to 68
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Book               165 non-null    object
 1   Author(s)          165 non-null    object
 2   Original language  165 non-null    object
 3   First published    165 non-null    object
 4   Approximate sales  96 non-null     object
 5   Genre              112 non-null    object
 6   Approx. sales      69 non-null     object
dtypes: object(7)
memory usage: 10.3+ KB

In [245]:
# Se resetea el valor del índice
df_books.reset_index(inplace = True)

In [246]:
# Se combinan las columnas de ventas aproximadas
df_books.loc[df_books["Approximate sales"].isnull(),"Approximate sales"] = df_books["Approx. sales"]

In [247]:
# Se elimina la columna de Approx. sales
df_books.drop(["index","Approx. sales"], axis = 1, inplace = True)

In [248]:
df_books

,Book,Author(s),Original language,First published,Approximate sales,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[21],Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200 million[22][23][24],"Fantasy, children's fiction"
2,The Alchemist (O Alquimista),Paulo Coelho,Portuguese,1988,150 million[25][26],Fantasy
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[27][28],"Fantasy, children's fiction"
4,And Then There Were None,Agatha Christie,English,1939,100 million[29],Mystery
...,...,...,...,...,...,...
160,Fahrenheit 451,Ray Bradbury,English,1953,10 million[188],NaN
161,Angela's Ashes,Frank McCourt,English,1996,10 million[189],NaN
162,The Story of My Experiments with Truth (સત્યના...,Mohandas Karamchand Gandhi,Gujarati,1925–1929,10 million[190],NaN
163,Bridget Jones's Diary,Helen Fielding,English,1996,10 million (as of 2005)[191],NaN
164,It Ends with Us,Colleen Hoover,English,2016,10 million[192],"Romance, Fiction"

In [240]:
# Se eliminan los títulos originales de la columna título.
for index, elem in enumerate(df_books["Book"]):
        df_books.iloc[index,0] = titulo_rect(elem)
df_books

ValueError: substring not found

In [50]:
def sales_rect (sales, lista):
# Función que elimina símbolos de la columna sales. 
    for simbol in lista:
        if simbol in sales:
            pos = sales.index(simbol)
            sales_uni = sales[:pos]
            sales_fin = sales_uni.strip()
        else:
            sales_fin = sales
    return sales_fin

In [51]:
# Se eliminan los corchetes y paréntesis de la columna sales.
for index, elem in enumerate(df_books["Approximate sales"]):  
    simbolos = ["[","("]
    df_books.iloc[index,4] = sales_rect(elem, simbolos)

In [231]:
df_books.rename(columns = {"Book":"Título","Author(s)":"Autor","Original language":"Idioma original","First published":"Año de publicación","Approximate sales":"Ventas aprox.","Genre":"Género"}, inplace = True)

In [232]:
df_books

,Título,Autor,Idioma original,Año de publicación,Ventas aprox.,Género,Approx. sales
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[21],Historical fiction,NaN
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200 million[22][23][24],"Fantasy, children's fiction",NaN
2,The Alchemist (O Alquimista),Paulo Coelho,Portuguese,1988,150 million[25][26],Fantasy,NaN
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[27][28],"Fantasy, children's fiction",NaN
4,And Then There Were None,Agatha Christie,English,1939,100 million[29],Mystery,NaN
...,...,...,...,...,...,...,...
64,Fahrenheit 451,Ray Bradbury,English,1953,NaN,NaN,10 million[188]
65,Angela's Ashes,Frank McCourt,English,1996,NaN,NaN,10 million[189]
66,The Story of My Experiments with Truth (સત્યના...,Mohandas Karamchand Gandhi,Gujarati,1925–1929,NaN,NaN,10 million[190]
67,Bridget Jones's Diary,Helen Fielding,English,1996,NaN,NaN,10 million (as of 2005)[191]
68,It Ends with Us,Colleen Hoover,English,2016,NaN,"Romance, Fiction",10 million[192]

In [14]:
df_books.info() # DataFrame preparado, a falta de determinar si se hace algo con los valores faltantes en género.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Book               165 non-null    object
 1   Author(s)          165 non-null    object
 2   Original language  165 non-null    object
 3   First published    165 non-null    object
 4   Approximate sales  165 non-null    object
 5   Genre              112 non-null    object
dtypes: object(6)
memory usage: 7.9+ KB

In [226]:
# DATASET SECUNDARIO-----------------------------------------------------------------------
df_gr = pd.read_csv("./data/Goodreads_bs.csv")
df_gr.rename(columns = {"bookTitle":"Título", "authorName":"Autor", "average_rating":"Valoración", "num_ratings":"Votos"}, inplace = True)
df_gr

,Título,Autor,Valoración,Votos
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34,"8,693,386"
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,"3,393,240"
2,Pride and Prejudice,Jane Austen,4.29,"4,280,986"
3,To Kill a Mockingbird,Harper Lee,4.26,"6,141,418"
4,The Book Thief,Markus Zusak,4.39,"2,565,715"
...,...,...,...,...
9995,The Company,Robert Littell,4.26,"5,729"
9996,Thanks for the Trouble,Tommy Wallach,3.84,"5,267"
9997,10 Dates,Emily James,4.01,"2,771"
9998,The Heights of Perdition (The Divine Space Pir...,C.S. Johnson,4.10,113
9999,The Timingila,Shon Mehta,4.24,25

In [262]:
# DATASET PRINCIPAL---------------------------------------------------------------
df_bb21 = pd.read_csv("./data/Best_Book_21st.csv")

In [276]:
# Se eliminan varias columnas que no se emplearán en el análisis
df_bb21.drop(["id","book_link"], axis = 1, inplace = True)

In [266]:
# Se sustituyen los NaN de algunas columnas
df_bb21["series"] = df_bb21["series"].fillna("NPNS")
df_bb21["publisher"] = df_bb21["publisher"].fillna("Sin datos")
df_bb21["num_of_page"] = df_bb21["num_of_page"].fillna(0)

In [256]:
# Se crea una nueva columna Serie con el formato limpio de los valores anteriores
for indice, elem in enumerate(df_bb21["series"]):    
    elem = elem.replace("(","")
    elem = elem.replace(")","")
    elem = elem.strip()
    df_bb21.loc[indice,"Serie"] = elem

In [273]:
# Se crea una nueva columna Editorial con el formato limpio de los valores anteriores
for indice, elem in enumerate(df_bb21["publisher"]):    
    elem = elem.replace("\n","")
    elem = elem.replace(",","")
    elem = elem.strip()
    df_bb21.loc[indice,"Editor"] = elem

In [270]:
# Se convierte la columna Páginas en int
df_bb21["Páginas"] = df_bb21["num_of_page"].astype(int)

In [295]:
# Se corrigen los valores de la columna date_published
df_bb21["date_published"].value_counts(dropna = False)
df_bb21.loc[(df_bb21["date_published"] == ",") | (df_bb21["date_published"] == ", , , , ,") | (df_bb21["date_published"].isna())] = "1/1/1"

In [305]:
# Se convierte la columna fecha en Date
df_bb21["fecha de publicación"] = pd.to_datetime(df_bb21["date_published"], format='mixed')
df_bb21["Año de publicación"] = pd.DatetimeIndex(df_bb21["Fecha de publicación"]).year

In [274]:
# Se eliminan las columnas duplicadas
df_bb21.drop(["series","publisher","num_of_page","date_published"], axis = 1, inplace = True)

In [ ]:
# Se elimina en la columna title la serie a la que pertenece el título, y se añade a la columna Serie

In [ ]:
# Se renombran y organizan las columnas

In [306]:
df_bb21

,title,author,genre,date_published,lang,review_count,rating_count,rate,award,Páginas,Editor,Año de publicación,Año
0,The Martian,Andy Weir,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",February 11th 2014,English,"77,156","919,781",4.4,Kurd-Laßwitz-Preis for Bestes ausländisches We...,384,Crown,2014-02-11,2014
1,Under the Banner of Heaven: A Story of Violent...,Jon Krakauer,"Nonfiction,Religion,History,Crime,True Crime,M...",2004,English,"10,981","173,895",3.98,Colorado Book Award for General Nonfiction (2004),400,Pan MacMillan,2004-01-01,2004
2,Cutting for Stone,Abraham Verghese,"Fiction,Historical,Historical Fiction,Cultural...",February 3rd 2009,English,"26,253","353,365",4.29,"PEN/Hemingway Foundation Award Nominee (2010),...",541,Alfred A. Knopf,2009-02-03,2009
3,We Need to Talk About Kevin,Lionel Shriver,"Fiction,Contemporary,Thriller,Horror,Mystery,C...",July 3rd 2006,English,"14,787","187,639",4.04,Orange Prize for Fiction (2005),400,Harper Perennial,2006-07-03,2006
4,The Immortal Life of Henrietta Lacks,Rebecca Skloot,"Nonfiction,Science,History,Biography,Health,Me...",February 2nd 2010,English,"36,574","646,155",4.07,Ambassador Book Award for American Studies (20...,370,Crown Publishing Group,2010-02-02,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10013,"Edge of Passion (Stealth Guardians, #1)",Tina Folsom,"Fantasy,Paranormal,Romance,Romance,Paranormal ...",March 7th 2012,English,102,"1,011",4.01,NaN,0,Sin datos,2012-03-07,2012
10014,Tales from a Not-So-Popular Party Girl (Dork D...,Rachel Renée Russell,"Childrens,Middle Grade,Realistic Fiction,Child...",June 8th 2010,English,"1,480","54,285",4.24,NaN,288,Aladdin,2010-06-08,2010
10015,Bottoms,Tanja Kirschner,NaN,September 1st 2005,English,5,11,3.55,NaN,24,NorthSouth,2005-09-01,2005
10016,The Wedding Dress,Gary E. Parker,NaN,January 9th 2002,English,2,23,3.61,NaN,123,Victor,2002-01-09,2002
10017,The Immortal Hunter (Argeneau #11; Rogue Hunte...,Lynsay Sands,"Romance,Paranormal Romance,Paranormal,Vampires...",March 31st 2009,English,383,"14,498",4.22,NaN,360,Avon,2009-03-31,2009

In [ ]:
# Se crea el diccionario que contendrá los valores de los libros solicitados.
dict_books = {}

diccionario_test = {}
nuevo_libro(diccionario_test, titulo_fin)
diccionario_test