In [1]:
import numpy as np
import pandas as pd
import requests

from bs4 import BeautifulSoup
from PB_funciones import nuevo_libro, titulo_rect, serie_rect

In [2]:
# ${{secrets.APIKEY_ISBN}} #----------> No funcionan los secretos!!!

In [ ]:
# Web scraping de la página de Wikipedia con los libros más vendidos (español)
#url = "https://es.wikipedia.org/wiki/Anexo:Libros_m%C3%A1s_vendidos"
#respuesta = requests.get(url)
#tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

#df_libros = pd.DataFrame()
#df_libros.drop(df_libros.index, inplace = True)
#for i in range(len(tablas_libros)-1):
#    if i == 0:
#        df_libros = pd.DataFrame(tablas_libros[i])
#    else:
#        df_libros = pd.concat([df_libros,pd.DataFrame(tablas_libros[i])], axis = 0)
#df_libros

In [6]:
# Web scraping de la página de Wikipedia con los libros más vendidos (inglés)
url = "https://en.wikipedia.org/wiki/List_of_best-selling_books"
respuesta = requests.get(url)
tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

In [41]:
# Dataframe de las series más vendidas
df_series = pd.DataFrame()
df5 = pd.DataFrame(tablas_libros[4])
df6 = pd.DataFrame(tablas_libros[5])
df7 = pd.DataFrame(tablas_libros[6])
df8 = pd.DataFrame(tablas_libros[7])
df9 = pd.DataFrame(tablas_libros[8])
df_series = pd.concat([df5,df6,df7,df8,df9], axis = 0)

df_series

,Book series,Author(s),Original language,No. of installments,Years of Publication,Approximate sales,First published,Genre,No. of instalments
0,Harry Potter,J. K. Rowling,English,7 + 3 companion books + 4 scripts,1997–2007,600 million[14][193][194],NaN,NaN,NaN
1,Goosebumps,R. L. Stine,English,62 + spin-off series,1992–present,400 million[195],NaN,NaN,NaN
2,Perry Mason,Erle Stanley Gardner,English,82 + 4 short stories,1933–1973,300 million[196],NaN,NaN,NaN
3,Diary of a Wimpy Kid,Jeff Kinney,English,19 + 5 spin-offs,2007–present,290 million[197],NaN,NaN,NaN
4,Berenstain Bears,Stan and Jan Berenstain,English,428,1962–present,260 million[198],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
14,Der Regenbogenfisch (Rainbow Fish),Marcus Pfister,German,NaN,NaN,15 million[324],1992–present,NaN,NaN
15,The Riftwar Cycle,Raymond E. Feist,English,NaN,NaN,15 million[325],1982–present,NaN,25.0
16,The Thrawn trilogy,Timothy Zahn,English,NaN,NaN,15 million[326],1991–93,NaN,3.0
17,Wiedźmin (The Witcher),Andrzej Sapkowski,Polish,NaN,NaN,15 million[327],1990–2013,NaN,9.0
18,14ひきのシリーズ [ja] (The family of fourteen),Kazuo Iwamura [ja],Japanese,NaN,NaN,15 million[328],1983–present,NaN,NaN

In [42]:
# Se resetea el valor del índice
df_series.reset_index(inplace = True)

In [65]:
# Dataframe de los libros más vendidos
df_books = pd.DataFrame()
df1 = pd.DataFrame(tablas_libros[0])
df2 = pd.DataFrame(tablas_libros[1])
df3 = pd.DataFrame(tablas_libros[2])
df4 = pd.DataFrame(tablas_libros[3])
df_books = pd.concat([df1,df2,df3,df4], axis = 0)

df_books

,Book,Author(s),Original language,First published,Approximate sales,Genre,Approx. sales
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[21],Historical fiction,NaN
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200 million[22][23][24],"Fantasy, children's fiction",NaN
2,The Alchemist (O Alquimista),Paulo Coelho,Portuguese,1988,150 million[25][26],Fantasy,NaN
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[27][28],"Fantasy, children's fiction",NaN
4,And Then There Were None,Agatha Christie,English,1939,100 million[29],Mystery,NaN
...,...,...,...,...,...,...,...
64,Fahrenheit 451,Ray Bradbury,English,1953,NaN,NaN,10 million[188]
65,Angela's Ashes,Frank McCourt,English,1996,NaN,NaN,10 million[189]
66,The Story of My Experiments with Truth (સત્યના...,Mohandas Karamchand Gandhi,Gujarati,1925–1929,NaN,NaN,10 million[190]
67,Bridget Jones's Diary,Helen Fielding,English,1996,NaN,NaN,10 million (as of 2005)[191]
68,It Ends with Us,Colleen Hoover,English,2016,NaN,"Romance, Fiction",10 million[192]

In [66]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, 0 to 68
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Book               165 non-null    object
 1   Author(s)          165 non-null    object
 2   Original language  165 non-null    object
 3   First published    165 non-null    object
 4   Approximate sales  96 non-null     object
 5   Genre              112 non-null    object
 6   Approx. sales      69 non-null     object
dtypes: object(7)
memory usage: 10.3+ KB

In [67]:
# Se resetea el valor del índice
df_books.reset_index(inplace = True)

In [68]:
# Se combinan las columnas de ventas aproximadas
df_books.loc[df_books["Approximate sales"].isnull(),"Approximate sales"] = df_books["Approx. sales"]

In [69]:
# Se elimina la columna de Approx. sales
df_books.drop(["index","Approx. sales"], axis = 1, inplace = True)

In [88]:
# Se eliminan los títulos originales de la columna título.
for index, elem in enumerate(df_books["Book"]):
    if "(" in elem:
        df_books.iloc[index,0] = titulo_rect(elem)
df_books

,Book,Author(s),Original language,First published,Approximate sales,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[21],Historical fiction
1,Hola,Antoine de Saint-Exupéry,French,1943,200 million[22][23][24],"Fantasy, children's fiction"
2,Hola,Paulo Coelho,Portuguese,1988,150 million[25][26],Fantasy
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[27][28],"Fantasy, children's fiction"
4,And Then There Were None,Agatha Christie,English,1939,100 million[29],Mystery
...,...,...,...,...,...,...
160,Fahrenheit 451,Ray Bradbury,English,1953,10 million[188],NaN
161,Angela's Ashes,Frank McCourt,English,1996,10 million[189],NaN
162,Hola,Mohandas Karamchand Gandhi,Gujarati,1925–1929,10 million[190],NaN
163,Bridget Jones's Diary,Helen Fielding,English,1996,10 million (as of 2005)[191],NaN
164,It Ends with Us,Colleen Hoover,English,2016,10 million[192],"Romance, Fiction"

In [76]:
df_books.info() # DataFrame preparado, a falta de determinar si se hace algo con los valores faltantes en género.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Book               165 non-null    object
 1   Author(s)          165 non-null    object
 2   Original language  165 non-null    object
 3   First published    165 non-null    object
 4   Approximate sales  165 non-null    object
 5   Genre              112 non-null    object
dtypes: object(6)
memory usage: 7.9+ KB

In [75]:
df_gr = pd.read_csv("./data/Goodreads_bs.csv")
df_gr.rename(columns = {"bookTitle":"Título", "authorName":"Autor", "average_rating":"Valoración", "num_ratings":"Votos"}, inplace = True)
df_gr

,Título,Autor,Valoración,Votos
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34,"8,693,386"
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,"3,393,240"
2,Pride and Prejudice,Jane Austen,4.29,"4,280,986"
3,To Kill a Mockingbird,Harper Lee,4.26,"6,141,418"
4,The Book Thief,Markus Zusak,4.39,"2,565,715"
...,...,...,...,...
9995,The Company,Robert Littell,4.26,"5,729"
9996,Thanks for the Trouble,Tommy Wallach,3.84,"5,267"
9997,10 Dates,Emily James,4.01,"2,771"
9998,The Heights of Perdition (The Divine Space Pir...,C.S. Johnson,4.10,113
9999,The Timingila,Shon Mehta,4.24,25

In [ ]:
df_ger["Serie"] = df_gr["Título"].apply(serie_rect)

In [ ]:
df_ger

In [2]:
df_lmv = pd.read_csv("./data/Libros_mas_vendidos.csv", encoding = "latin-1", delimiter = ",")
df_lmv

,index,Año de publicación,Título,Autor,Lenguaje original,Rating de autor,Valoración,nº de Valoraciones,Género,Ventas aproximadas,Beneficio editorial,Precio de venta,Ranking de venta,Editorial,Unidades vvendidas
0,"0,1975,Beowulf,""Unknown, Seamus Heaney"",en-US,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,1987,Batman: Year One,""Frank Miller, David M...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2,2015,Go Set a Watchman,Harper Lee,eng,Novice...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,44.00,150898.0,fiction,41250.00,24750.000,7.50,3.0,Hachette Book Group,5500.0
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,44.00,198283.0,genre fiction,37952.50,22771.500,7.99,4.0,Penguin Group (USA) LLC,4750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,"1065,2014,Gray Mountain,John Grisham,eng,Inter...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312.0,genre fiction,846.94,508.164,7.99,1270.0,Random House LLC,106.0
1067,1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742.0,genre fiction,846.94,508.164,7.99,1271.0,Hachette Book Group,106.0
1068,"1068,2011,Night Road,Kristin Hannah,en-US,Exce...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,"1069,1999,Tripwire,Lee Child,eng,Excellent,47,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Se crea el diccionario que contendrá los valores de los libros solicitados.
dict_books = {}

diccionario_test = {}
nuevo_libro(diccionario_test, titulo_fin)
diccionario_test