In [39]:
import numpy as np
import pandas as pd
import re
import requests

from bs4 import BeautifulSoup
from PB_funciones import nuevo_libro, titulo_rect, sales_rect, serie_extr

In [2]:
# ${{secrets.APIKEY_ISBN}} #----------> No funcionan los secretos!!!

In [ ]:
# Web scraping de la página de Wikipedia con los libros más vendidos (español)
#url = "https://es.wikipedia.org/wiki/Anexo:Libros_m%C3%A1s_vendidos"
#respuesta = requests.get(url)
#tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

#df_libros = pd.DataFrame()
#df_libros.drop(df_libros.index, inplace = True)
#for i in range(len(tablas_libros)-1):
#    if i == 0:
#        df_libros = pd.DataFrame(tablas_libros[i])
#    else:
#        df_libros = pd.concat([df_libros,pd.DataFrame(tablas_libros[i])], axis = 0)
#df_libros

In [1]:
# DATAFRAME DE SERIES-----------------------------------------------------------------------------------------------------
# Dataframe de las series más vendidas
#df_series = pd.DataFrame()
#df5 = pd.DataFrame(tablas_libros[4])
#df6 = pd.DataFrame(tablas_libros[5])
#df7 = pd.DataFrame(tablas_libros[6])
#df8 = pd.DataFrame(tablas_libros[7])
#df9 = pd.DataFrame(tablas_libros[8])
#df_series = pd.concat([df5,df6,df7,df8,df9], axis = 0)

#df_series

In [82]:
# DATAFRAME DE LIBROS MÁS VENDIDOS-----------------------------------------------------------------------------------------------

# Web scraping de la página de Wikipedia con los libros más vendidos (inglés)
url = "https://en.wikipedia.org/wiki/List_of_best-selling_books"
respuesta = requests.get(url)
tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

# Creación del DataFrame
df_bsbooks = pd.DataFrame()
df1 = pd.DataFrame(tablas_libros[0])
df2 = pd.DataFrame(tablas_libros[1])
df3 = pd.DataFrame(tablas_libros[2])
df4 = pd.DataFrame(tablas_libros[3])
df_bsbooks = pd.concat([df1,df2,df3,df4], axis = 0)

In [ ]:
# Se resetea el valor del índice
df_bsbooks.reset_index(inplace = True)

# Se combinan las columnas de ventas aproximadas
df_bsbooks.loc[df_bsbooks["Approximate sales"].isnull(),"Approximate sales"] = df_bsbooks["Approx. sales"]

# Se elimina la columna de Approx. sales
df_bsbooks.drop(["index","Approx. sales"], axis = 1, inplace = True)

# Se eliminan los títulos originales de la columna título.
for index, elem in enumerate(df_bsbooks["Book"]):
    df_bsbooks.iloc[index,0] = titulo_rect(elem)

# Se eliminan los corchetes y paréntesis de la columna sales.
simbolos = ["[", "("]
for index, elem in enumerate(df_bsbooks["Approximate sales"]):     
    df_bsbooks.iloc[index,4] = sales_rect(elem, simbolos)
    
# Se renombran y ordenan las columnas
df_bsbooks.rename(columns = {"Book":"Título","Author(s)":"Autor","Genre":"Género","First published":"Año de publicación","Original language":"Idioma original"}, inplace = True)

In [84]:
df_bsbooks

,Título,Autor,Idioma original,Año de publicación,Approximate sales,Género
0,A Tale of Two Cities,Charles Dickens,English,1859,None,Historical fiction
1,The Little Prince,Antoine de Saint-Exupéry,French,1943,None,"Fantasy, children's fiction"
2,The Alchemist,Paulo Coelho,Portuguese,1988,None,Fantasy
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,None,"Fantasy, children's fiction"
4,And Then There Were None,Agatha Christie,English,1939,None,Mystery
...,...,...,...,...,...,...
160,Fahrenheit 451,Ray Bradbury,English,1953,None,NaN
161,Angela's Ashes,Frank McCourt,English,1996,None,NaN
162,The Story of My Experiments with Truth,Mohandas Karamchand Gandhi,Gujarati,1925–1929,None,NaN
163,Bridget Jones's Diary,Helen Fielding,English,1996,None,NaN
164,It Ends with Us,Colleen Hoover,English,2016,None,"Romance, Fiction"

In [138]:
# DATAFRAME DE LIBROS MEJOR VALORADOS (GOODREADS)-----------------------------------------------------------------------

# Se lee el archivo .csv y se crea el DataFrame
df_gr = pd.read_csv("./data/Goodreads_bs.csv")

In [139]:
# Se eliminan los valores nulos
df_gr.dropna(axis = 0, inplace = True)

# Se renombran las columnas
df_gr.rename(columns = {"bookTitle":"Título", "authorName":"Autor", "average_rating":"Valoración", "num_ratings":"Votos"}, inplace = True)

# Se corrige el tipo de la columna Votos
df_gr.Votos.value_counts()
df_gr["Votos"] = df_gr["Votos"].astype(str)
df_gr["Votos"] = df_gr["Votos"].str.replace(",","")
df_gr["Votos"] = df_gr["Votos"].astype(int)

# Se extraen los libros con nota por encima de 4 y al menos 1000 votos para formar un nuevo DataFrame
df_grf = df_gr.loc[(df_gr["Votos"] > 10000) & (df_gr["Valoración"] > 4.0)]
df_grbooks = df_grf.sort_values("Valoración", ascending = False)

# Se resetea el índice
df_grbooks.reset_index(inplace = True)
df_grbooks.drop(columns = "index", inplace = True)

# Se extrae de la columna Título la serie a la que pertenece
df_grbooks["Serie"] = None
for index, elem in enumerate(df_grbooks["Título"]):
    df_grbooks.iloc[index,-1] = serie_extr(elem)

# Se reordenan las columnas
df_grbooks = df_grbooks.reindex(["Título","Autor","Serie","Valoración","Votos"], axis = 1)
# Se elimina la serie de la columna título.
for index, elem in enumerate(df_grbooks["Título"]):
    df_grbooks.iloc[index,0] = titulo_rect(elem)

,Título,Autor,Serie,Valoración,Votos
0,The Complete Calvin and Hobbes,Bill Watterson,None,4.81,40293
1,All the Young Dudes - Volume Two: Years 5 - 7,MsKingBean89,"All the Young Dudes, #2",4.81,17855
2,Heaven Official's Blessing: Tian Guan Ci Fu,Mò Xiāng Tóng Xiù,Novel Vol. 4,4.78,13124
3,Mark of the Lion Trilogy,Francine Rivers,None,4.78,13310
4,All the Young Dudes,MsKingBean89,None,4.78,30154
...,...,...,...,...,...
4659,The Grapes of Wrath,John Steinbeck,None,4.01,908458
4660,The Kindly Ones,Jonathan Littell,None,4.01,13618
4661,The Adventures of Captain Underpants,Dav Pilkey,"Captain Underpants, #1",4.01,53146
4662,Mona Lisa Overdrive,William Gibson,"Sprawl, #3",4.01,44179
4663,Milkweed,Jerry Spinelli,None,4.01,29886

In [81]:
df_grbooks

,Título,Autor,Valoración,Votos
273,The Complete Calvin and Hobbes,Bill Watterson,4.81,40293
6684,All the Young Dudes - Volume Two: Years 5 - 7 ...,MsKingBean89,4.81,17855
6455,Heaven Official's Blessing: Tian Guan Ci Fu (N...,Mò Xiāng Tóng Xiù,4.78,13124
3239,Mark of the Lion Trilogy,Francine Rivers,4.78,13310
2718,All the Young Dudes,MsKingBean89,4.78,30154
...,...,...,...,...
404,The Grapes of Wrath,John Steinbeck,4.01,908458
3042,The Kindly Ones,Jonathan Littell,4.01,13618
3357,The Adventures of Captain Underpants (Captain ...,Dav Pilkey,4.01,53146
9506,"Mona Lisa Overdrive (Sprawl, #3)",William Gibson,4.01,44179
9961,Milkweed,Jerry Spinelli,4.01,29886

In [75]:
# Hay que ordenar, categorizar y unir dataframes para trabajar con uno.
# Columna de premiado, columna de más valorados, columna de best sellers, las tres columnas booleanas
# Revisar títulos y eliminar duplicados
# Entre 500 y 1000 referencias de cada tipo.

# Hay que extrapolar el género desde la API de ISBNdb

In [99]:
# DATASET PRINCIPAL---------------------------------------------------------------
df_bb21 = pd.read_csv("./data/Best_Book_21st.csv")

In [100]:
# Se eliminan varias columnas que no se emplearán en el análisis
df_bb21.drop(["id","book_link"], axis = 1, inplace = True)

In [101]:
# Se sustituyen los NaN de algunas columnas
df_bb21["series"] = df_bb21["series"].fillna("NPNS")
df_bb21["publisher"] = df_bb21["publisher"].fillna("Sin datos")
df_bb21["num_of_page"] = df_bb21["num_of_page"].fillna(0)

In [102]:
# Se crea una nueva columna Serie con el formato limpio de los valores anteriores
for indice, elem in enumerate(df_bb21["series"]):    
    elem = elem.replace("(","")
    elem = elem.replace(")","")
    elem = elem.strip()
    df_bb21.loc[indice,"Serie"] = elem

In [103]:
# Se crea una nueva columna Editorial con el formato limpio de los valores anteriores
for indice, elem in enumerate(df_bb21["publisher"]):    
    elem = elem.replace("\n","")
    elem = elem.replace(",","")
    elem = elem.strip()
    df_bb21.loc[indice,"Editor"] = elem

In [104]:
# Se convierte la columna Páginas en int
df_bb21["Páginas"] = df_bb21["num_of_page"].astype(int)

In [105]:
# Se corrigen los valores de la columna date_published
df_bb21["date_published"].value_counts(dropna = False)
df_bb21.loc[(df_bb21["date_published"] == ",") | (df_bb21["date_published"] == ", , , , ,") | (df_bb21["date_published"].isna())] = "1/1/1"

S:\Users\NewWalhalla\AppData\Local\Temp\ipykernel_16568\2581903952.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1/1/1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_bb21.loc[(df_bb21["date_published"] == ",") | (df_bb21["date_published"] == ", , , , ,") | (df_bb21["date_published"].isna())] = "1/1/1"
S:\Users\NewWalhalla\AppData\Local\Temp\ipykernel_16568\2581903952.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1/1/1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_bb21.loc[(df_bb21["date_published"] == ",") | (df_bb21["date_published"] == ", , , , ,") | (df_bb21["date_published"].isna())] = "1/1/1"
S:\Users\NewWalhalla\AppData\Local\Temp\ipykernel_16568\2581903952.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1/1/1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_bb21.loc[(df_bb21["date_published"] == ",") | (df_bb21["date_published"] == ", , , , ,") | (df_bb21["date_published"].isna())] = "1/1/1"

In [106]:
# Se convierte la columna fecha en Date
df_bb21["Fecha de publicación"] = pd.to_datetime(df_bb21["date_published"], format='mixed')
df_bb21["Año de publicación"] = pd.DatetimeIndex(df_bb21["Fecha de publicación"]).year

In [107]:
# Se eliminan las columnas duplicadas
df_bb21.drop(["series","publisher","num_of_page","date_published"], axis = 1, inplace = True)

In [ ]:
# Se elimina en la columna title la serie a la que pertenece el título, y se añade a la columna Serie

In [ ]:
# Se renombran y organizan las columnas

In [109]:
df_bb21.loc[df_bb21["title"] == "The Martian"]

,title,author,genre,lang,review_count,rating_count,rate,award,Serie,Editor,Páginas,Fecha de publicación,Año de publicación
0,The Martian,Andy Weir,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",English,"77,156","919,781",4.4,Kurd-Laßwitz-Preis for Bestes ausländisches We...,The Martian #1,Crown,384,2014-02-11,2014
1497,The Martian,Andy Weir,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",English,"77,256","922,540",4.4,Kurd-Laßwitz-Preis for Bestes ausländisches We...,The Martian #1,Crown,384,2014-02-11,2014

In [73]:
df_premiados = df_bb21.loc[df_bb21["award"].isna() == False]
df_premiados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4024 entries, 0 to 10011
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4024 non-null   int64
 1   title           4024 non-null   object
 2   series          1656 non-null   object
 3   author          4024 non-null   object
 4   book_link       4024 non-null   object
 5   genre           4007 non-null   object
 6   date_published  4018 non-null   object
 7   publisher       4005 non-null   object
 8   num_of_page     4000 non-null   float64
 9   lang            3949 non-null   object
 10  review_count    4024 non-null   object
 11  rating_count    4024 non-null   object
 12  rate            4024 non-null   float64
 13  award           4024 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 471.6+ KB

In [74]:
# Hay unos 4000 titulos premiados (valoración profesional), y unos 4000 titulos con rating por encima de 4 (valoración público).
# Se puede mejorar la lista de superventas??

In [76]:
# Web scraping de la página de The Library
url = "https://www.oclc.org/en/worldcat/library100/top500.html"
respuesta = requests.get(url)
tablas_libros = pd.read_html(respuesta.content, encoding = "utf8")

In [77]:
print(len(tablas_libros))

1

In [78]:
df_recomendados = pd.DataFrame(tablas_libros[0])
df_recomendados

      Rank                               Title                  Author
0      1.0                         Don Quixote     Miguel de Cervantes
1      2.0    Alice's Adventures in Wonderland           Lewis Carroll
2      3.0  The Adventures of Huckleberry Finn              Mark Twain
3      4.0        The Adventures of Tom Sawyer              Mark Twain
4      5.0                     Treasure Island  Robert Louis Stevenson
..     ...                                 ...                     ...
495  496.0          Stranger in a Strange Land      Robert A. Heinlein
496  497.0                     Vision in White            Nora Roberts
497  498.0                    The Whipping Boy          Sid Fleischman
498  499.0                                Room           Emma Donoghue
499  500.0                     Deception Point               Dan Brown

[500 rows x 3 columns]

In [87]:
# Se crea el diccionario que contendrá los valores de los libros solicitados.
dict_books = {}

diccionario_test = {}
titulo_fin = "Treasure Island"
nuevo_libro(diccionario_test, titulo_fin)
diccionario_test

{'ISBN': '9781101990322',
 'Título': 'Treasure Island (Signet Classics)',
 'Autor': 'Robert Louis Stevenson',
 'Editorial': 'Signet',
 'Páginas': 240,
 'Fecha de publicación': '2016-05-03',
 'Género': 'Fiction, action & adventure, Fiction, sea stories',
 'Formato': 'Mass Market Paperback',
 'Sinopsis': 'Robert Louis Stevenson’s rousing seafaring classic.<br/><br/>“Fifteen men on a dead man’s chest—<br/>Yo-ho-ho, and a bottle of rum!”<br/><br/>For sheer storytelling delight and pure adventure, Treasure Island has never been surpassed. From young Jim Hawkins’s first encounter with the sinister beggar Pew to the climactic battle with the most memorable villain in literature, Long John Silver, this novel has fired readers’ imaginations for generations. A rousing tale of treachery, greed, and daring, Treasure Island continues to enthrall readers of all ages.<br/><br/>With an Introduction by Patrick Scott<br/>and an Afterword by Sara Levine',
 'Lengua original': 'en',
 'Edición': '',
 'Dimensiones': 'Height: 6.81 Inches, Length: 4.13 Inches, Weight: 0.33 Pounds, Width: 0.65 Inches',
 'Precio': 4.95}

In [ ]:
lista_titulos = []
lista_titulos =